node_modules
.env

**/target/

# ---- Maven ----
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# ---- Gradle (se mai lo usi) ----
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# ---- Logs ----
*.log
*.out
*.tmp

# ---- IntelliJ IDEA ----
.idea/
*.iws
*.iml
*.ipr

# ---- Eclipse ----
.project
.classpath
.settings/
bin/

# ---- VS Code ----
.vscode/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Others ----
*.swp
*.swo
*.bak